<!--Banner Start-->
<section class="page-title casestudy_page--title" style="background-image: url('https://digitalbondmena.com/banner_images/{{banner?.contact_banner_image}}');">
  <div class="container">
    <div class="standalone-content-data">
      <h2 class="hide-cursor">Case studies</h2>
      <ul class="page-breadcrumb link">
        <li>
          <a routerLink="/"><span class="icon fas fa-home"></span>Home</a>
        </li>
        <li><a>Case studies</a></li>
      </ul>
    </div>
  </div>

</section>
<!--Banner End-->
<div *ngIf="loading">
  <app-loader></app-loader>
</div>


<section class="case_studies " style="background-image: url('assets/images/BG/1.jpg');">
  <div class="container">
    <div class="row">

      <div *ngFor="let caseStudy of caseStudies" class="col-lg-4 col-md-6 wow animated fadeInUp mb-4">
        <div routerLink="/clients/{{caseStudy.id}}" class="card custom-shadow case_study_card">
          <img [src]="caseStudyImage+caseStudy.image" alt="" />
          <div class="card-body">
            <h4>{{caseStudy.en_title}}</h4>
            <p class="case_study_card_description">
              {{caseStudy.en_text}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
