<!--Banner Start-->
<section class="page-title casestudy_page--title parallax1">
  <div class="container">
    <div class="standalone-content-data">
      <h2 class="hide-cursor">Case studies</h2>
      <ul class="page-breadcrumb link">
        <li>
          <a routerLink="/home"><span class="icon fas fa-home"></span>Home</a>
        </li>
        <li><a>Case studies</a></li>
      </ul>
    </div>
  </div>

</section>
<!--Banner End-->
<div *ngIf="loading">
  <app-loader></app-loader>
</div>


<section class="case_studies">
  <div class="container">
    <owl-carousel-o [options]="caseStudiesSlider" class="client-team">

      <ng-template *ngFor="let caseStudy of caseStudies" carouselSlide class="wow fadeInUp">
        <div routerLink="/clients/{{caseStudy.id}}"class="card case_study_card">
          <img [src]="caseStudyImage+caseStudy.image" alt="" />
          <div class="card-body">
            <a href="">{{caseStudy.en_title}}</a>
            <p class="case_study_card_description">
              {{caseStudy.en_text}}
            </p>
          </div>
        </div>
      </ng-template>

      </owl-carousel-o>
  </div>
</section>
