<!--Banner Start-->
<section class="page-title parallax1">
  <div class="container">
    <div class="standalone-content-data">
      <h2 class="hide-cursor">Case study</h2>
      <ul class="page-breadcrumb link">
        <li>
          <a routerLink="/home"><span class="icon fas fa-home"></span>Home</a>
        </li>
        <li><a>Case study</a></li>
      </ul>
    </div>
  </div>
</section>
<!--Banner End-->
<section class="case_studies">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3 wow animated slideInUp">
        <div class="card case_study_card">
          <img src="assets/images/Portfolio/F&B/Classic.jpg" alt="" />
          <div class="card-body">
            <a href="">Classic</a>
            <p class="case_study_card_description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis
              reprehenderit facilis ducimus et maxime. Recusandae modi ab quis
              cupiditate repudiandae!
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3 wow animated slideInUp">
        <div class="card case_study_card">
          <img src="assets/images/Portfolio/F&B/ZiSushi.jpg" alt="" />
          <div class="card-body">
            <a href="">Zi sushi</a>
            <p class="case_study_card_description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis
              reprehenderit facilis ducimus et maxime. Recusandae modi ab quis
              cupiditate repudiandae!
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3 wow animated slideInUp">
        <div class="card case_study_card">
          <img src="assets/images/Portfolio/F&B/Turbo.jpg" alt="" />
          <div class="card-body">
            <a href="">Turbo</a>
            <p class="case_study_card_description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis
              reprehenderit facilis ducimus et maxime. Recusandae modi ab quis
              cupiditate repudiandae!
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3 wow animated slideInUp">
        <div class="card case_study_card">
          <img src="assets/images/Portfolio/F&B/Ritonka.jpg" alt="" />
          <div class="card-body">
            <a href="">Ritonka</a>
            <p class="case_study_card_description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis
              reprehenderit facilis ducimus et maxime. Recusandae modi ab quis
              cupiditate repudiandae!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
