<!--Banner Start-->
<section class="page-title parallax1">
  <div class="container">
      <div class="standalone-content-data">
          <h2 class="hide-cursor">Bonders</h2>
          <ul class="page-breadcrumb link">
              <li><a routerLink="/home"><span class="icon fas fa-home"></span>Home</a></li>
              <li><a>Bonders</a></li>
          </ul>
      </div>
  </div>
</section>
<!--Banner End-->

<section class="team_section">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="tag">1</div>
          <div class="front">
            <img class='banner' src="https://ichef.bbci.co.uk/news/976/cpsprodpb/13729/production/_112375697_1331db7a-17c0-4401-8cac-6a2309ff49b6.jpg" alt="">
            <div class="front_bottom">

              <h3 class='name'>john maher</h3>
              <p class='position'>frontend</p>
            </div>

          </div>

          <div class="background"></div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="tag">1</div>
          <div class="front">
            <img class='banner' src="https://ichef.bbci.co.uk/news/976/cpsprodpb/13729/production/_112375697_1331db7a-17c0-4401-8cac-6a2309ff49b6.jpg" alt="">
            <div class="front_bottom">

              <h3 class='name'>john maher</h3>
              <p class='position'>frontend</p>
            </div>

          </div>

          <div class="background"></div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="tag">1</div>
          <div class="front">
            <img class='banner' src="https://ichef.bbci.co.uk/news/976/cpsprodpb/13729/production/_112375697_1331db7a-17c0-4401-8cac-6a2309ff49b6.jpg" alt="">
            <div class="front_bottom">

              <h3 class='name'>john maher</h3>
              <p class='position'>frontend</p>
            </div>

          </div>

          <div class="background"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--team section start-->
<section class="partners-section">

  <div class="container position-relative">
      <div class="row">
          <div class="col-12 col-lg-12">
              <div class="team-details pr-lg-5">
                  <h6 class="sub-title main-color">Lorem ipsum is simply dummy text</h6>
                  <h2 class="title">Our partners</h2>
              </div>
          </div>
          <div class="col-12 col-lg-12 team-member-area">
              <owl-carousel-o [options]="partners" class="partners-team">
                  <ng-template  carouselSlide  class="wow fadeInUp">
                    <div class="item text-center">

                      <div class="image-holder">
                        <img src="assets/digital-agency/img/team1.png" alt="team1">
                      </div>
                      <h3 class="team-name">Richard Stevens</h3>
                    </div>
                  </ng-template>
                  <ng-template  carouselSlide  class=" wow fadeInUp" data-wow-delay=".3s">
                    <div class="item text-center">

                      <div class="image-holder">
                          <img src="assets/digital-agency/img/team2.png" alt="team1">
                      </div>
                      <h3 class="team-name">Lisa  Warrior</h3>
                    </div>
                  </ng-template>
                  <ng-template  carouselSlide  class=" wow fadeInUp" data-wow-delay=".4s">
                    <div class="item text-center">

                      <div class="image-holder">
                          <img src="assets/digital-agency/img/team3.png" alt="team1">
                      </div>
                      <h3 class="team-name">Mark J Stevens</h3>
                    </div>
                  </ng-template>
                  <ng-template  carouselSlide  class="">
                    <div class="item text-center">

                      <div class="image-holder">
                          <img src="assets/digital-agency/img/team1.png" alt="team1">
                      </div>
                      <h3 class="team-name">Richard Stevens</h3>
                      </div>
                  </ng-template>
                  <ng-template  carouselSlide  class="">
                    <div class="item text-center">

                      <div class="image-holder">
                          <img src="assets/digital-agency/img/team2.png" alt="team1">
                      </div>
                      <h3 class="team-name">Lisa  Warrior</h3>
                      </div>
                  </ng-template>
                  <ng-template  carouselSlide  class="">
                    <div class="item text-center">

                      <div class="image-holder">
                          <img src="assets/digital-agency/img/team3.png" alt="team1">
                      </div>
                      <h3 class="team-name">Mark J Stevens</h3>
                      </div>
                  </ng-template>
              </owl-carousel-o>
          </div>
      </div>
  </div>

</section>
<!--team section start-->
<!--team section start-->
<section class="case_study_section">

  <div class="container position-relative">
      <div class="row">
          <div class="col-12 col-lg-12">
              <div class="team-details pr-lg-5">
                  <h6 class="sub-title main-color">Lorem ipsum is simply dummy text</h6>
                  <h2 class="title">Our Clients</h2>
              </div>
          </div>
          <div class="col-12 col-lg-12 clients-member-area">
              <owl-carousel-o [options]="clients" class="client_team">
                  <ng-template  carouselSlide  class="wow fadeInUp">
                    <div class="item text-center">
                      <div class="card">
                        <div class="upper-card">
                          <img src="assets/digital-agency/img/team2.png" alt="">
                          <h2>Petronas Towers</h2>
                        </div>
                        <div class="content">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                  <ng-template  carouselSlide  class=" wow fadeInUp" data-wow-delay=".3s">
                    <div class="item text-center">

                      <div class="card">
                        <div class="upper-card">
                          <img src="assets/digital-agency/img/team2.png" alt="">
                          <h2>Petronas Towers</h2>
                        </div>
                        <div class="content">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                  <ng-template  carouselSlide  class=" wow fadeInUp" data-wow-delay=".4s">
                    <div class="item text-center">

                      <div class="card">
                        <div class="upper-card">
                          <img src="assets/digital-agency/img/team2.png" alt="">
                          <h2>Petronas Towers</h2>
                        </div>
                        <div class="content">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                  <ng-template  carouselSlide  class="">
                    <div class="item text-center">

                      <div class="card">
                        <div class="upper-card">
                          <img src="assets/digital-agency/img/team2.png" alt="">
                          <h2>Petronas Towers</h2>
                        </div>
                        <div class="content">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                      </div>                      </div>
                  </ng-template>
                  <ng-template  carouselSlide  class="">
                    <div class="item text-center">

                      <div class="card">
                        <div class="upper-card">
                          <img src="assets/digital-agency/img/team2.png" alt="">
                          <h2>Petronas Towers</h2>
                        </div>
                        <div class="content">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                      </div>
                      </div>
                  </ng-template>
                  <ng-template  carouselSlide  class="">
                    <div class="item text-center">

                      <div class="card">
                        <div class="upper-card">
                          <img src="assets/digital-agency/img/team2.png" alt="">
                          <h2>Petronas Towers</h2>
                        </div>
                        <div class="content">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                      </div>
                      </div>
                  </ng-template>
              </owl-carousel-o>
          </div>
      </div>
  </div>

</section>
<!--team section start-->
