<!--Banner Start-->
<section class="page-title sayhello_page--title" *ngFor="let banner of banners" style="background-image: url('https://digitalbondmena.com/banner_images/{{banner.say_hello_banner_image}}');">
  <div class="container">
    <div class="standalone-content-data">
      <h2 class="hide-cursor">Say hello</h2>
      <ul class="page-breadcrumb link">
        <li>
          <a routerLink="/home"><span class="icon fas fa-home"></span>Home</a>
        </li>
        <li><a>Say hello</a></li>
      </ul>
    </div>
  </div>
<svg
id="banner_svg"
class="separator__svg"
width="100%"
viewBox="0 0 100 100"
preserveAspectRatio="none"
fill="#ffffff"
version="1.1"
xmlns="http://www.w3.org/2000/svg"
>
<path d="M 100 100 V 60 L 0 100" />
<path d="M 30 73 L 100 50 V 50 Z" fill="#ffffff" stroke-width="0" />
</svg>
</section>
<!--Banner End-->
<div *ngIf="loading">
  <app-loader></app-loader>
</div>
<section class="say-hello">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="card">
          <img src="assets/images/Say_Page/Feedback.jpg" alt="">
          <div class="card-body card-info">
            <h4>If you wana contact us</h4>
          </div>
          <div class="card-body card-overlay">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed repellat obcaecati natus ex. Placeat id sed porro quas debitis, quisquam sunt totam, laboriosam voluptates, corporis sequi voluptas cupiditate impedit aspernatur.</p>
            <a class="btn btn-primary" routerLink="/contact">If you wana contact us</a>
          </div>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="divider"></div>
      </div>
      <div class="col-lg-5">
        <div class="card">
          <img src="assets/images/Say_Page/Contact.jpg" alt="">

          <div class="card-body card-info">
            <h4>If you wana review us</h4>
          </div>
          <div class="card-body card-overlay">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed repellat obcaecati natus ex. Placeat id sed porro quas debitis, quisquam sunt totam, laboriosam voluptates, corporis sequi voluptas cupiditate impedit aspernatur.</p>
            <a class="btn btn-primary" routerLink="/review">If you wana review us</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
