<!--Banner Start-->
<section class="page-title page_notfound">
  <img src="assets/GIF.gif" class="page_notfound_gif" alt="">
  <div class="container">
    <div class="standalone-content-data">

      <h2 class="hide-cursor">Not found</h2>
      <ul class="page-breadcrumb link">
        <li>
          <a routerLink="/home"><span class="icon fas fa-home"></span>Home</a>
        </li>
        <li><a>Not found</a></li>
      </ul>
    </div>
  </div>

</section>
<!-- <section class="notfound">
  <div class="row justify-content-center">
    <div class="col-lg-6">

    </div>
  </div>
</section> -->
