<!--Banner Start-->
<section class="page-title parallax1">
  <div class="container">
    <div class="standalone-content-data">
      <h2 class="hide-cursor">Case study</h2>
      <ul class="page-breadcrumb link">
        <li>
          <a routerLink="/home"><span class="icon fas fa-home"></span>Home</a>
        </li>
        <li><a>Case study</a></li>
      </ul>
    </div>
  </div>
</section>
<!--Banner End-->

    <section class="services-section">
      <div class="container">
        <div class="row">
          <!--Column item-->
          <div class="col-12 text-center">
            <h1 class="section-header">Services</h1>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-content">
                <h2>Lorem Ipsum</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna
                </p>
                <a routerLink="1" class="btn">Show More</a>
              </div>
              <div class="card-img right">
                <img
                  class=""
                  src="https://images.unsplash.com/photo-1601823984263-b87b59798b70?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
                  alt=""
                />
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-content">
                <h2>Lorem Ipsum</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna
                </p>
                <a routerLink="1" class="btn">Show More</a>
              </div>
              <div class="card-img right">
                <img
                  class=""
                  src="https://images.unsplash.com/photo-1601823984263-b87b59798b70?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
                  alt=""
                />
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-content">
                <h2>Lorem Ipsum</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna
                </p>
                <a routerLink="1" class="btn">Show More</a>
              </div>
              <div class="card-img right">
                <img
                  class=""
                  src="https://images.unsplash.com/photo-1601823984263-b87b59798b70?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
