<!--Banner Start-->
<section class="page-title services_page--title" *ngFor="let banner of bannerImage" style="background-image: url('https://digitalbondmena.com/banner_images/{{banner.services_banner_image}}');">
  <div class="container">
    <div class="standalone-content-data">
      <h2 class="hide-cursor text-white">Services</h2>
      <ul class="page-breadcrumb link">
        <li><a routerLink="/"><span class="icon fas fa-home"></span>Home</a></li>
        <li><a>Services</a></li>
    </ul>
    </div>
  </div>

</section>
<!--Banner End-->
<div *ngIf="loading">
  <app-loader></app-loader>
</div>
<section class="services-section">
  <div class="container">
    <div class="row">
      <!--Column item-->
      <div class="col-12 text-center">
        <h1 class="section-header main-title">Services</h1>
      </div>
      <div *ngFor="let service of services" class="col-lg-4 col-md-6 wow animated fadeInUp">
        <div class="card">
          <div class="card-content">
            <h2>{{service.en_title | slice:0:30}}</h2>
            <p>
              {{
                service.en_text | slice:0:130
              }}
            </p>
            <a [routerLink]="['/services', service.id]" class="btn">Discover more</a>
          </div>
          <div class="card-img right">
            <img class="" [src]="serviceImage+service.image" alt="" />
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
