<!--Banner Start-->
<section class="page-title parallax1" style="background-image: url(assets/images/about_page/Header.jpg);">
  <div class="container">
    <div class="standalone-content-data">
      <h2 class="hide-cursor">About us</h2>
      <ul class="page-breadcrumb link">
        <li>
          <a routerLink="/home"><span class="icon fas fa-home"></span>Home</a>
        </li>
        <li><a>About us</a></li>
      </ul>
    </div>
  </div>
  <svg
  id="banner_svg"
  class="separator__svg"
  width="100%"
  viewBox="0 0 100 100"
  preserveAspectRatio="none"
  fill="#ffffff"
  version="1.1"
  xmlns="http://www.w3.org/2000/svg"
>
  <path d="M 100 100 V 60 L 0 100" />
  <path d="M 30 73 L 100 50 V 50 Z" fill="#ffffff" stroke-width="0" />
</svg>
</section>
<!--Banner End-->

<section class="about_us">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
      <h1>CREATIVE COMMITMENT
      </h1>
      <p>
        We are a bonded family that mix and match creativity and commitment to help brands go beyond the limit. Bonders are a blend of cheerful, uprising and creative peeps working to deliver outstanding services. We are committed and loyalty runs in the veins; when we are put together our results blow minds.
      </p>
      </div>
      <div class="col-lg-6">
        <img src="assets/images/about_page/About.png" class="w-100" alt="">
      </div>
    </div>
  </div>
</section>

<section class="about_vision">
  <div class="container">


    <div class="row align-items-center">
      <div class="col-lg-7">
        <div class="about-details pr-lg-5">
          <h6 class="sub-title main-color">Wanna meet the Bonders? </h6>
          <h2 class="title">Our Story</h2>
        </div>
        <!-- <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Mission
                </button>
              </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                Some placeholder content for the first accordion panel. This panel is shown by default, thanks to the <code>.show</code> class.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Vision
                </button>
              </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                Some placeholder content for the second accordion panel. This panel is hidden by default.
              </div>
            </div>
          </div>

        </div> -->
        <div class="vision_mission">

          <div class="mission align-items-center row text-white justify-content-between">
            <div class="col-md-3">

              <h3>
                Mission
              </h3>
            </div>
            <div class="col-md-9">

              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, facere. Doloribus, quibusdam. Adipisci tempora corrupti nemo? Sequi totam placeat omnis?
              </p>
            </div>
          </div>
          <div class="vision align-items-center row text-white justify-content-between">
            <div class="col-md-3">

              <h3>
                Vision
              </h3>
            </div>
            <div class="col-md-9">

              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, facere. Doloribus, quibusdam. Adipisci tempora corrupti nemo? Sequi totam placeat omnis?
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <img src="assets/images/about_page/Mission.png" class="w-100" alt="">
      </div>
    </div>
  </div>
</section>
<!--team section start-->
<section class="team_section_page" id="team-section">
  <!-- <svg
    class="separator__svg"
    id="team-header-svg"
    width="100%"
    viewBox="0 0 100 100"
    preserveAspectRatio="none"
    fill="#fff"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path d="M 100 100 V 10 L 0 100" />
    <path d="M 30 73 L 100 18 V 10 Z" fill="#fff" stroke-width="0" />
  </svg> -->
  <div class="container position-relative">
    <div class="row">
      <div class="col-12 col-lg-12">
        <div class="team-details pr-lg-5" [attr.data-depth]="0.1">
          <h6 class="sub-title main-color">Wanna meet the Bonders?
          </h6>
          <h2 class="title">Our Creative Team</h2>
        </div>
      </div>
      <div class="col-12 col-lg-12 team-member-area">
        <owl-carousel-o [options]="teamCarousal" class="team">
          <ng-template carouselSlide class="wow fadeInUp">
            <div class="item text-center">
              <div class="image-holder">
                <img src="assets/images/Bonders/males.jpg" alt="team1" />
              </div>
              <h3 class="team-name">Hassan Khaled</h3>
              <p class="position">CEO</p>
            </div>
          </ng-template>
          <ng-template carouselSlide class="wow fadeInUp" data-wow-delay=".3s">
            <div class="item text-center">
              <div class="image-holder">
                <img src="assets/images/Bonders/females.jpg" alt="team1" />
              </div>
              <h3 class="team-name">Haneen Hamdi</h3>
              <p class="position">Operations Executive</p>
            </div>
          </ng-template>
          <ng-template carouselSlide class="wow fadeInUp" data-wow-delay=".4s">
            <div class="item text-center">
              <div class="image-holder">
                <img src="assets/images/Bonders/males.jpg" alt="team1" />
              </div>
              <h3 class="team-name">Mohamed Hamed</h3>
              <p class="position">Project Manager</p>
            </div>
          </ng-template>
          <ng-template carouselSlide class="">
            <div class="item text-center">
              <div class="image-holder">
                <img src="assets/images/Bonders/males.jpg" alt="team1" />
              </div>
              <h3 class="team-name">Abdelrahman Labib</h3>
              <p class="position">Customer Service Lead</p>
            </div>
          </ng-template>
          <ng-template carouselSlide class="">
            <div class="item text-center">
              <div class="image-holder">
                <img src="assets/images/Bonders/males.jpg" alt="team1" />
              </div>
              <h3 class="team-name">Tarek Abdullah</h3>
              <p class="position">Accountant</p>
            </div>
          </ng-template>
          <ng-template carouselSlide class="">
            <div class="item text-center">
              <div class="image-holder">
                <img src="assets/images/Bonders/males.jpg" alt="team1" />
              </div>
              <h3 class="team-name">Mohamed Khalifa</h3>
              <p class="position">Backend Developer</p>
            </div>
          </ng-template>
          <ng-template carouselSlide class="">
            <div class="item text-center">
              <div class="image-holder">
                <img src="assets/images/Bonders/females.jpg" alt="team1" />
              </div>
              <h3 class="team-name">Nardeen Youssef</h3>
              <p class="position">Graphic designer</p>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
  <!-- <svg
    class="separator__svg"
    id="team-foot-svg"
    width="100%"
    height="100"
    viewBox="0 0 100 100"
    preserveAspectRatio="none"
    fill="#fff"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path d="M 100 100 V 10 L 0 100" />
    <path d="M 30 73 L 100 18 V 10 Z" fill="#fff" stroke-width="0" />
  </svg> -->
</section>
<!--team section start-->


