<!--Banner Start-->
<section class="page-title services_details--title" style="background-image: url('https://digitalbondmena.com/services/{{service.banner_image}}');" *ngFor="let service of serviceDetails">
  <div class="container">
    <div class="standalone-content-data">
      <h2 class="hide-cursor">{{ service.en_title }}</h2>
      <ul class="page-breadcrumb link">
        <li>
          <a routerLink="/home"><span class="icon fas fa-home"></span>Home</a>
        </li>
        <li><a>{{ service.en_title }}</a></li>
      </ul>
    </div>
  </div>
  <svg
  id="banner_svg"
  class="separator__svg"
  width="100%"
  viewBox="0 0 100 100"
  preserveAspectRatio="none"
  fill="#ffffff"
  version="1.1"
  xmlns="http://www.w3.org/2000/svg"
>
  <path d="M 100 100 V 60 L 0 100" />
  <path d="M 30 73 L 100 50 V 50 Z" fill="#ffffff" stroke-width="0" />
</svg>
</section>
<!--Banner End-->

<div *ngIf="loading">
  <app-loader></app-loader>
</div>

<section>
  <div class="container">
    <div class="row align-items-center" *ngFor="let service of serviceDetails">
      <div class="col-md-4">
        <img [src]="serviceImage+service.image" class="w-100" alt="">
      </div>
      <div class="col-md-8">
        <h4 class="section_heading_single">{{service?.en_title}}</h4>
        <p>{{service?.en_text}}</p>
      </div>
    </div>
  </div>
</section>

<section class="services-section">
  <div class="container">
    <div class="row">
      <!--Column item-->
      <div class="col-12 text-center">
        <h1 class="section-header">Other Services</h1>
      </div>
    </div>
    <owl-carousel-o [options]="servicesSlider">

      <ng-template *ngFor="let otherService of otherServicesArray" carouselSlide>

        <div class="card">
          <div class="card-content">
            <h2>{{otherService.en_title}}</h2>
            <p>
              {{
                otherService.en_text | slice: 0:130
              }}
            </p>
            <a routerLink="/services/{{ otherService.id }}" class="btn">Discover more</a>
          </div>
          <div class="card-img right">
            <img class="" [src]="serviceImage+otherService.image" alt="" />
          </div>
        </div>
      </ng-template>
      
    </owl-carousel-o>
  </div>
</section>
