<div class="banner">
  <owl-carousel-o [options]="mainSlider" class="main_slider">
    <ng-template carouselSlide class="wow fadeInUp">
      <div
        class="item text-center"
        style="
          background-image: linear-gradient(
              to right bottom,
              rgba(0, 0, 0, 0.2),
              rgba(0, 0, 0, 0.8)
            ),
            url(assets/images/Slider/1.jpg);
        "
      >
        <div class="main_slider_content" [attr.data-depth]="0.1">
          <img src="assets/images/logo/logo.png" class="main_slider_content_img" alt="">
          <p class="main_slider_paragraph">Welcome to Digital Bond Agency</p>
          <h1 class="main_slider_header">
            We Mix And Match Creativity & Commitment
          </h1>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide class="wow fadeInUp" data-wow-delay=".3s">
      <div
        class="item text-center"
        style="
          background-image: linear-gradient(
              to right bottom,
              rgba(0, 0, 0, 0.2),
              rgba(0, 0, 0, 0.8)
            ),
            url(assets/images/Slider/2.jpg);
        "
      >
        <div class="main_slider_content" [attr.data-depth]="0.1">
          <img src="assets/images/logo/logo.png" class="main_slider_content_img" alt="">

          <p class="main_slider_paragraph">Welcome to Digital Bond Agency</p>
          <h1 class="main_slider_header">We Bring A New Era Of Creativity</h1>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide class="wow fadeInUp" data-wow-delay=".4s">
      <div
        class="item text-center"
        style="
          background-image: linear-gradient(
              to right bottom,
              rgba(0, 0, 0, 0.2),
              rgba(0, 0, 0, 0.8)
            ),
            url(assets/images/Slider/3.jpg);
        "
      >
        <div class="main_slider_content" [attr.data-depth]="0.1">
          <img src="assets/images/logo/logo.png" class="main_slider_content_img" alt="">

          <p class="main_slider_paragraph">Welcome to Digital Bond Agency</p>
          <h1 class="main_slider_header">We Help Brands
            Go Beyond The Limit</h1>
        </div>
      </div>
    </ng-template>
  </owl-carousel-o>
  <svg
    id="banner_svg"
    class="separator__svg"
    width="100%"
    viewBox="0 0 100 100"
    preserveAspectRatio="none"
    fill="#ffffff"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path d="M 100 100 V 60 L 0 100" />
    <path d="M 30 73 L 100 50 V 50 Z" fill="#ffffff" stroke-width="0" />
  </svg>
</div>

<!--About Star-->
<section class="about-sec" id="about-sec">

  <div class="container">
    <div class="row">
      <!-- Heading Area-->
      <div class="col-lg-5 wow fadeInUp">
        <div class="service-details" >
          <div class="first_heading" data-depth="0.1">

            <h1 class="" >WE ARE</h1>
            <h1>THE BONDERS!</h1>
          </div>
          <p>
            Bonders are a blend of cheerful, uprising and creative peeps working
            to deliver outstanding services. We are committed and loyalty runs
            in the veins; when we are put together our results blow minds.
          </p>
          <a
            routerLink="/about"
            class="btn btn-large btn-rounded btn-light mr-2 mt-2"
            >Our story</a
          >
        </div>
      </div>

      <!-- Features Box-->
      <div class="col-lg-7">
        <div class="services-area-width-manage">
          <div class="row no-gutters services-area">
            <div class="col-12 col-md-6 services text-center">
              <div class="service-card wow fadeInRight">
                <div class="icon-holder">
                  <i class="lni lni-briefcase"></i>
                </div>
                <h4 class="card-heading">Commitment</h4>
              </div>
            </div>
            <div class="col-12 col-md-6 services text-center">
              <div class="service-card wow fadeInRight">
                <div class="icon-holder">
                  <i class="lni lni-bulb"></i>
                </div>
                <h4 class="card-heading">Creative</h4>
              </div>
            </div>
            <div class="col-12 col-md-6 services text-center">
              <div class="service-card wow fadeInRight" data-wow-delay=".5s">
                <div class="icon-holder">
                  <i class="lni lni-heart"></i>
                </div>
                <h4 class="card-heading">Love our work</h4>
              </div>
            </div>
            <div class="col-12 col-md-6 services text-center">
              <div class="service-card wow fadeInRight" data-wow-delay=".5s">
                <div class="icon-holder">
                  <i class="lni lni-wallet"></i>
                </div>
                <h4 class="card-heading">Make you earn</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <svg
    id="banner_svg"
    class="separator__svg"
    width="100%"
    viewBox="0 0 100 100"
    preserveAspectRatio="none"
    fill="#ffffff"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path d="M 100 100 V 10 L 0 100" />
    <path d="M 30 73 L 100 18 V 10 Z" fill="#ffffff" stroke-width="0" />
  </svg> -->
</section>
<!--About End-->

<!--Skill section start-->
<section class="skill-sec" id="skill-sec">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="skill-details">
          <h6 class="sub-title main-color">DIGITAL BOND CREATION</h6>
          <h2 class="title" [attr.data-depth]="0.1">CONCEPT OF "BONDERS"</h2>
          <p class="paragraph">
            Bonders speak concepts not titles. Bonding creativity, commitment
            and you.
          </p>
        </div>
      </div>
      <div class="col-12">
        <div class="skill-bars">
          <ul class="text-left list-unstyled row">
            <div class="col-lg-6 wow animated fadeInLeft">
              <!--Progress Bar-->
              <li class="progress-item">
                <h6>Branding</h6>
                <div class="progress bar" width="100%">
                  <div
                    class="progress-bar rounded-left bg-warning bar-inner w-100"
                    role="progressbar w-100"
                  >
                    <span>100%<i class="fas fa-caret-down"></i></span>
                  </div>
                </div>
              </li>
              <!--Progress Bar-->
              <li class="progress-item">
                <h6>Social Media</h6>
                <div class="progress bar" width="100%">
                  <div
                    class="progress-bar rounded-left bg-warning bar-inner w-100"
                    role="progressbar"
                  >
                    <span>100%<i class="fas fa-caret-down"></i></span>
                  </div>
                </div>
              </li>
              <!--Progress Bar-->
              <li class="progress-item">
                <h6>Influencers Marketing & Digital PR</h6>
                <div class="progress bar" width="100%">
                  <div
                    class="progress-bar rounded-left bg-warning bar-inner w-100"
                    role="progressbar"
                  >
                    <span>100%<i class="fas fa-caret-down"></i></span>
                  </div>
                </div>
              </li>
            </div>
            <div class="col-lg-6 wow animated fadeInRight">
              <!--Progress Bar-->
              <li class="progress-item">
                <h6>Video Production</h6>
                <div class="progress bar" width="100%">
                  <div
                    class="progress-bar rounded-left bg-warning bar-inner w-100"
                    role="progressbar"
                  >
                    <span>100%<i class="fas fa-caret-down"></i></span>
                  </div>
                </div>
              </li>
              <!--Progress Bar-->
              <li class="progress-item">
                <h6>Web Development & Mobile Applications</h6>
                <div class="progress bar" width="100%">
                  <div
                    class="progress-bar rounded-left bg-warning bar-inner w-100"
                    role="progressbar"
                  >
                    <span>100%<i class="fas fa-caret-down"></i></span>
                  </div>
                </div>
              </li>
              <!--Progress Bar-->
              <li class="progress-item">
                <h6>SMS Campaigns</h6>
                <div class="progress bar" width="100%">
                  <div
                    class="progress-bar rounded-left bg-warning bar-inner w-100"
                    role="progressbar"
                  >
                    <span>100%<i class="fas fa-caret-down"></i></span>
                  </div>
                </div>
              </li>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Skill section start-->

<!--team section start-->
<section class="team-section" id="team-section">
  <!-- <svg
    class="separator__svg"
    id="team-header-svg"
    width="100%"
    viewBox="0 0 100 100"
    preserveAspectRatio="none"
    fill="#fff"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path d="M 100 100 V 10 L 0 100" />
    <path d="M 30 73 L 100 18 V 10 Z" fill="#fff" stroke-width="0" />
  </svg> -->
  <div class="container position-relative">
    <div class="row">
      <div class="col-12 col-lg-12">
        <div class="team-details pr-lg-5" [attr.data-depth]="0.1">
          <h6 class="sub-title main-color">Wanna meet the Bonders?
          </h6>
          <h2 class="title">Our Creative Team</h2>
        </div>
      </div>
      <div class="col-12 col-lg-12 team-member-area">
        <owl-carousel-o [options]="teamCarousal" class="testimonial-team">
          <ng-template carouselSlide class="wow fadeInUp">
            <div class="item text-center">
              <div class="image-holder">
                <img src="assets/images/Bonders/males.jpg" alt="team1" />
              </div>
              <h3 class="team-name">Hassan Khaled</h3>
              <p>CEO</p>
            </div>
          </ng-template>
          <ng-template carouselSlide class="wow fadeInUp" data-wow-delay=".3s">
            <div class="item text-center">
              <div class="image-holder">
                <img src="assets/images/Bonders/females.jpg" alt="team1" />
              </div>
              <h3 class="team-name">Haneen Hamdi</h3>
              <p>Operations Executive</p>
            </div>
          </ng-template>
          <ng-template carouselSlide class="wow fadeInUp" data-wow-delay=".4s">
            <div class="item text-center">
              <div class="image-holder">
                <img src="assets/images/Bonders/males.jpg" alt="team1" />
              </div>
              <h3 class="team-name">Mohamed Hamed</h3>
              <p>Project Manager</p>
            </div>
          </ng-template>
          <ng-template carouselSlide class="">
            <div class="item text-center">
              <div class="image-holder">
                <img src="assets/images/Bonders/males.jpg" alt="team1" />
              </div>
              <h3 class="team-name">Abdelrahman Labib</h3>
              <p>Customer Service Lead</p>
            </div>
          </ng-template>
          <ng-template carouselSlide class="">
            <div class="item text-center">
              <div class="image-holder">
                <img src="assets/images/Bonders/males.jpg" alt="team1" />
              </div>
              <h3 class="team-name">Tarek Abdullah</h3>
              <p>Accountant</p>
            </div>
          </ng-template>
          <ng-template carouselSlide class="">
            <div class="item text-center">
              <div class="image-holder">
                <img src="assets/images/Bonders/males.jpg" alt="team1" />
              </div>
              <h3 class="team-name">Mohamed Khalifa</h3>
              <p>Backend Developer</p>
            </div>
          </ng-template>
          <ng-template carouselSlide class="">
            <div class="item text-center">
              <div class="image-holder">
                <img src="assets/images/Bonders/females.jpg" alt="team1" />
              </div>
              <h3 class="team-name">Nardeen Youssef</h3>
              <p>Graphic designer</p>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
  <!-- <svg
    class="separator__svg"
    id="team-foot-svg"
    width="100%"
    height="100"
    viewBox="0 0 100 100"
    preserveAspectRatio="none"
    fill="#fff"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path d="M 100 100 V 10 L 0 100" />
    <path d="M 30 73 L 100 18 V 10 Z" fill="#fff" stroke-width="0" />
  </svg> -->
</section>
<!--team section start-->
<!--brands section start-->
<section class="brand-sec" id="brand">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="brand-title">
          <h1 class="heading" data-depth="0.1"> Our<span class="d-block">Amazing partners</span></h1>
        </div>
      </div>
    </div>
    <!--Partner Slider-->

    <owl-carousel-o [options]="partnersSlider" class="partners-slider">
      <ng-template carouselSlide
        ><div class="logo-item">
          <img alt="client-logo" src="assets/images/Partners/1.png" />
        </div>
      </ng-template>
      <ng-template carouselSlide
        ><div class="logo-item">
          <img alt="client-logo" src="assets/images/Partners/2.png" />
        </div>
      </ng-template>
      <ng-template carouselSlide
        ><div class="logo-item">
          <img alt="client-logo" src="assets/images/Partners/3.png" />
        </div>
      </ng-template>
      <ng-template carouselSlide
        ><div class="logo-item">
          <img alt="client-logo" src="assets/images/Partners/4.png" />
        </div>
      </ng-template>
      <ng-template carouselSlide
        ><div class="logo-item">
          <img alt="client-logo" src="assets/images/Partners/5.png" />
        </div>
      </ng-template>

    </owl-carousel-o>
  </div>
</section>
<!--brands section end-->
<!--team section start-->
<section class="client-section bg-white text-dark" id="client-section">
  <!-- <svg class="separator__svg" id="client-header-svg" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none" fill="#fff" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <path d="M 100 100 V 10 L 0 100"/>
      <path d="M 30 73 L 100 18 V 10 Z" fill="#fff" stroke-width="0"/>
  </svg> -->
  <div class="container position-relative">
    <div class="row">
      <div
        class="col-lg-6 wow fadeInUp text-center text-lg-left client_header" [attr.data-depth]="0.1"
        data-wow-delay="300ms"
      >
        <h1 class="heading">OUR</h1>
        <h1 class="heading">Happy clients</h1>
      </div>
      <div class="col-12 col-lg-12 client-member-area">
        <owl-carousel-o [options]="portfolio" class="client-team">
          <ng-template carouselSlide class="wow fadeInUp">
            <div class="item text-center">
              <div class="image-holder">
                <img
                  src="assets/images/Portfolio/Automotive/ElMasria.jpg"
                  alt="ElMasria"
                />
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide class="wow fadeInUp" data-wow-delay=".3s">
            <div class="item text-center">
              <div class="image-holder">
                <img
                  src="assets/images/Portfolio/Automotive/NUIT.jpg"
                  alt="Nuit"
                />
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide class="wow fadeInUp" data-wow-delay=".4s">
            <div class="item text-center">
              <div class="image-holder">
                <img
                  src="assets/images/Portfolio/Business/NBD.jpg"
                  alt="team1"
                />
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide class="">
            <div class="item text-center">
              <div class="image-holder">
                <img
                  src="assets/images/Portfolio/Business/QNB.jpg"
                  alt="team1"
                />
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide class="">
            <div class="item text-center">
              <div class="image-holder">
                <img
                  src="assets/images/Portfolio/Business/saib.jpg"
                  alt="team1"
                />
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide class="">
            <div class="item text-center">
              <div class="image-holder">
                <img
                  src="assets/images/Portfolio/Business/Triumph.jpg"
                  alt="team1"
                />
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide class="">
            <div class="item text-center">
              <div class="image-holder">
                <img
                  src="assets/images/Portfolio/Business/we.jpg"
                  alt="team1"
                />
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide class="">
            <div class="item text-center">
              <div class="image-holder">
                <img
                  src="assets/images/Portfolio/Education/EDUGATE.jpg"
                  alt="team1"
                />
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide class="">
            <div class="item text-center">
              <div class="image-holder">
                <img
                  src="assets/images/Portfolio/Education/EGEC.jpg"
                  alt="team1"
                />
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide class="">
            <div class="item text-center">
              <div class="image-holder">
                <img
                  src="assets/images/Portfolio/Education/Harvest.jpg"
                  alt="team1"
                />
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide class="">
            <div class="item text-center">
              <div class="image-holder">
                <img
                  src="assets/images/Portfolio/Education/Instituto.jpg"
                  alt="team1"
                />
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide class="">
            <div class="item text-center">
              <div class="image-holder">
                <img
                  src="assets/images/Portfolio/F&B/Classic.jpg"
                  alt="team1"
                />
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide class="">
            <div class="item text-center">
              <div class="image-holder">
                <img src="assets/images/Portfolio/F&B/KOI.jpg" alt="team1" />
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide class="">
            <div class="item text-center">
              <div class="image-holder">
                <img
                  src="assets/images/Portfolio/F&B/Monginis.jpg"
                  alt="team1"
                />
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide class="">
            <div class="item text-center">
              <div class="image-holder">
                <img
                  src="assets/images/Portfolio/F&B/Ritonka.jpg"
                  alt="team1"
                />
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide class="">
            <div class="item text-center">
              <div class="image-holder">
                <img src="assets/images/Portfolio/F&B/Turbo.jpg" alt="team1" />
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide class="">
            <div class="item text-center">
              <div class="image-holder">
                <img
                  src="assets/images/Portfolio/F&B/ZiSushi.jpg"
                  alt="team1"
                />
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide class="">
            <div class="item text-center">
              <div class="image-holder">
                <img
                  src="assets/images/Portfolio/Furniture/Arthouse.jpg"
                  alt="team1"
                />
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide class="">
            <div class="item text-center">
              <div class="image-holder">
                <img
                  src="assets/images/Portfolio/Furniture/Danube.jpg"
                  alt="team1"
                />
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide class="">
            <div class="item text-center">
              <div class="image-holder">
                <img
                  src="assets/images/Portfolio/Furniture/Divano.jpg"
                  alt="team1"
                />
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide class="">
            <div class="item text-center">
              <div class="image-holder">
                <img
                  src="assets/images/Portfolio/Furniture/EDGEC.jpg"
                  alt="team1"
                />
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide class="">
            <div class="item text-center">
              <div class="image-holder">
                <img
                  src="assets/images/Portfolio/Furniture/Rennie.jpg"
                  alt="team1"
                />
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide class="">
            <div class="item text-center">
              <div class="image-holder">
                <img
                  src="assets/images/Portfolio/Last/AbdElLatiefGameel.jpg"
                  alt="team1"
                />
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide class="">
            <div class="item text-center">
              <div class="image-holder">
                <img
                  src="assets/images/Portfolio/Last/DawryJameel.jpg"
                  alt="team1"
                />
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide class="">
            <div class="item text-center">
              <div class="image-holder">
                <img
                  src="assets/images/Portfolio/Medical/ElEzaby.jpg"
                  alt="team1"
                />
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide class="">
            <div class="item text-center">
              <div class="image-holder">
                <img
                  src="assets/images/Portfolio/Medical/LOreal.jpg"
                  alt="team1"
                />
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide class="">
            <div class="item text-center">
              <div class="image-holder">
                <img
                  src="assets/images/Portfolio/Medical/VLCC.jpg"
                  alt="team1"
                />
              </div>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>

</section>
<!--team section start-->



<!--testimonial section start-->
<section
  class="testimonial-sec padding-top position-relative"
  id="testimonial-sec"
>
  <div class="container">
    <div class="testimonial-area">
      <div class="row">
        <div class="col-12">
          <div class="testimonial-title">
            <h1 class="heading" [attr.data-depth]="0.1">They say <span class="d-block">About the bonders</span></h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="testimonial-carousel">
            <owl-carousel-o [options]="testimonials" class="testimonial-box">
              <ng-template carouselSlide>
                <div class="item text-center">
                  <div class="icon-holder">
                    <i class="fas fa-quote-right"></i>
                  </div>
                  <p class="text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Fusce vitae egestas mi, vel dapibus diam. Mauris malesuada,
                    nisl non rutrum commodo, sem magna laoreet tellus, eu
                    euismod dolor enim et mi. In at tempor purus.
                  </p>
                  <div class="img-holder">
                    <img src="assets/images/Bonders/males.jpg" />
                  </div>
                  <h4 class="user-name">Hassan Khaled</h4>
                  <p>CEO</p>
                </div>
              </ng-template>
              <ng-template
                carouselSlide
                class="wow fadeInUp"
                data-wow-delay=".3s"
              >
                <div class="item text-center">
                  <div class="icon-holder">
                    <i class="fas fa-quote-right"></i>
                  </div>
                  <p class="text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Fusce vitae egestas mi, vel dapibus diam. Mauris malesuada,
                    nisl non rutrum commodo, sem magna laoreet tellus, eu
                    euismod dolor enim et mi. In at tempor purus.
                  </p>
                  <div class="img-holder">
                    <img src="assets/images/Bonders/females.jpg" />
                  </div>
                  <h4 class="user-name">Nardeen Youssef
                  </h4>
                  <p>Graphic Designer
                  </p>
                </div>
              </ng-template>
              <ng-template
                carouselSlide
                class="wow fadeInUp"
                data-wow-delay=".3s"
              >
                <div class="item text-center">
                  <div class="icon-holder">
                    <i class="fas fa-quote-right"></i>
                  </div>
                  <p class="text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Fusce vitae egestas mi, vel dapibus diam. Mauris malesuada,
                    nisl non rutrum commodo, sem magna laoreet tellus, eu
                    euismod dolor enim et mi. In at tempor purus.
                  </p>
                  <div class="img-holder">
                    <img src="assets/images/Bonders/males.jpg" />
                  </div>
                  <h4 class="user-name">Abdelrahman Labib</h4>
                  <p>Customer Service Lead</p>
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div class="item text-center">
                  <div class="icon-holder">
                    <i class="fas fa-quote-right"></i>
                  </div>
                  <p class="text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Fusce vitae egestas mi, vel dapibus diam. Mauris malesuada,
                    nisl non rutrum commodo, sem magna laoreet tellus, eu
                    euismod dolor enim et mi. In at tempor purus.
                  </p>
                  <div class="img-holder">
                    <img src="assets/images/Bonders/females.jpg" />
                  </div>
                  <h4 class="user-name">Noureen Nasser
                  </h4>
                  <p>Digital Marketing Trainee
                  </p>
                </div>
              </ng-template>
              <ng-template
                carouselSlide
                class="wow fadeInUp"
                data-wow-delay=".3s"
              >
                <div class="item text-center">
                  <div class="icon-holder">
                    <i class="fas fa-quote-right"></i>
                  </div>
                  <p class="text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Fusce vitae egestas mi, vel dapibus diam. Mauris malesuada,
                    nisl non rutrum commodo, sem magna laoreet tellus, eu
                    euismod dolor enim et mi. In at tempor purus.
                  </p>
                  <div class="img-holder">
                    <img src="assets/images/Bonders/males.jpg" />
                  </div>
                  <h4 class="user-name">Mohamed Hamed</h4>
                  <p>Project Manager</p>
                </div>
              </ng-template>
              <ng-template
                carouselSlide
                class="wow fadeInUp"
                data-wow-delay=".3s"
              >
                <div class="item text-center">
                  <div class="icon-holder">
                    <i class="fas fa-quote-right"></i>
                  </div>
                  <p class="text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Fusce vitae egestas mi, vel dapibus diam. Mauris malesuada,
                    nisl non rutrum commodo, sem magna laoreet tellus, eu
                    euismod dolor enim et mi. In at tempor purus.
                  </p>
                  <div class="img-holder">
                    <img src="assets/images/Bonders/females.jpg" />
                  </div>
                  <h4 class="user-name">Yara Ahmed
                  </h4>
                  <p>Moderator
                  </p>
                </div>
              </ng-template>
            </owl-carousel-o>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--testimonial section end-->
