
    <!--Banner Start-->
    <section class="page-title privacy-policy" style="background-image: url(assets/images/Services.jpg);">
      <div class="container">
        <div class="standalone-content-data">
          <h2 class="hide-cursor">Privacy policy</h2>
          <ul class="page-breadcrumb link">
            <li>
              <a routerLink="/"
                ><span class="icon fas fa-home"></span>Home</a
              >
            </li>
            <li><a>Privacy policy</a></li>
          </ul>
        </div>
      </div>
    </section>
    <!--Banner End-->
<div class="container">

  <p>Last updated: March 18, 2022</p>
  <p>This Privacy Policy describes Our policies and procedures on the collection, use and disclosure of Your information when You use the Service and tells You about Your privacy rights and how the law protects You.</p>
  <p>We use Your Personal data to provide and improve the Service. By using the Service, You agree to the collection and use of information in accordance with this Privacy Policy.
  </p><h3 class="my-3">Collecting and Using Your Personal Data</h3>
  <p>While using Our Service, We may ask You to provide Us with certain personally identifiable information that can be used to contact or identify You. Personally identifiable information may include, but is not limited to:</p>
  <ul class="list-unstyled">
  <li>
  <p>Email address</p>
  </li>
  <li>
  <p>First name and last name</p>
  </li>
  <li>
  <p>Phone Number &amp; State and Address for delivery purposes</p>
  </li>
  </ul>
  <h3>Tracking Technologies and Cookies</h3>
  <p class="my-3"><strong>Necessary / Essential Cookies</strong></p>
  <p>Type: Session Cookies</p>
  <p>Purpose: These Cookies are essential to provide You with services available through the Website and to enable You to use some of its features. They help to authenticate users and prevent fraudulent use of user accounts. Without these Cookies, the services that You have asked for cannot be provided, and We only use these Cookies to provide You with those services.</p>
  <p class="my-3"><strong>Functionality Cookies</strong></p>
  <p>Type: Persistent Cookies</p>
  <p>Purpose: These Cookies allow us to remember choices You make when You use the Website, such as remembering your login details or language preference. The purpose of these Cookies is to provide You with a more personal experience and to avoid You having to re-enter your preferences every time You use the Website.</p>
  <p>For more information about the cookies we use and your choices regarding cookies, please visit our Cookies Policy or the Cookies section of our Privacy Policy.</p>
  <h3>Use of Your Personal Data</h3>
  <p>The Company may use Personal Data for the following purposes:</p>
  <ul class="list-unstyled">
  <li>
  <p class="my-3"><strong>To provide and maintain our Service</strong>, including to monitor the usage of our Service.</p>
  </li>
  <li>
  <p class="my-3"><strong>To manage Your Account:</strong> to manage Your registration as a user of the Service. The Personal Data You provide can give You access to different functionalities of the Service that are available to You as a registered user.</p>
  </li>
  <li>
  <p class="my-3"><strong>For the performance of a contract:</strong> the development, compliance and undertaking of the purchase contract for the products, items or services You have purchased or of any other contract with Us through the Service.</p>
  </li>
  <li>
  <p class="my-3"><strong>To contact You:</strong> To contact You by email, telephone calls, SMS, or other equivalent forms of electronic communication, such as a mobile application's push notifications regarding updates or informative communications related to the functionalities, products or contracted services, including the security updates, when necessary or reasonable for their implementation.</p>
  </li>
  <li>
  <p class="my-3"><strong>To provide You</strong> with news, special offers and general information about other goods, services and events which we offer that are similar to those that you have already purchased or enquired about unless You have opted not to receive such information.</p>
  </li>
  <li>
  <p class="my-3"><strong>To manage Your requests:</strong> To attend and manage Your requests to Us.</p>
  </li>
  <li>
  <p class="my-3"><strong>For other purposes</strong>: We may use Your information for other purposes, such as data analysis, identifying usage trends, determining the effectiveness of our promotional campaigns and to evaluate and improve our Service, products, services, marketing and your experience.</p>
  </li>
  </ul>
  <h3>Transfer of Your Personal Data</h3>
  <p>Your information, including Personal Data, is processed at the Company's operating offices and in any other places where the parties involved in the processing are located. It means that this information may be transferred to — and maintained on — computers located outside of Your state, province, country or other governmental jurisdiction where the data protection laws may differ than those from Your jurisdiction.</p>
  <p>Your consent to this Privacy Policy followed by Your submission of such information represents Your agreement to that transfer.</p>
  <p>The Company will take all steps reasonably necessary to ensure that Your data is treated securely and in accordance with this Privacy Policy and no transfer of Your Personal Data will take place to an organization or a country unless there are adequate controls in place including the security of Your data and other personal information.</p>
  <h3 class="my-3">Security of Your Personal Data</h3>
  <p>The security of Your Personal Data is important to Us, but remember that no method of transmission over the Internet, or method of electronic storage is 100% secure. While We strive to use commercially acceptable means to protect Your Personal Data, We cannot guarantee its absolute security.</p>
  <h3 class="my-3">Changes to this Privacy Policy</h3>
  <p>We may update Our Privacy Policy from time to time. We will notify You of any changes by posting the new Privacy Policy on this page.</p>
  <p>We will let You know via email and/or a prominent notice on Our Service, prior to the change becoming effective and update the "Last updated" date at the top of this Privacy Policy.</p>
  <p>You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.</p>
  <h3 class="my-3">Contact Us</h3>
  <p>If you have any questions about this Privacy Policy, You can contact us:</p>
  <ul class="list-unstyled">
  <li>By email: <strong>Bonder@digitalbondmena.com</strong></li>
  </ul>
  <h3 id="data-deletion" class="my-3">Data Deletion Instructions</h3>
  <p>At any time... you can contact us for your data deletion... This data deletion will remove your personal data (name &amp; email) and your orders from our website.</p>
  <p>For data deletion... You just have to supply us with your user id, You can send it to us:</p>
  <ul class="list-unstyled">
  <li>By email: <strong>Bonder@digitalbondmena.com</strong></li>
  </ul>

</div>
