<!--start loader-->
<!-- <div class="preloader center-block">
  <div class="loader-container">
    <img src="assets/images/logo/white.png" width="100px" class="main-loader">
  </div>
</div> -->
<div class="loader_sekelton">

  <div class="card">
    <div class="header">
      <div class="img"></div>
      <div class="details">
        <div class="description">
          <div class="line line-1"></div>
        </div>
        <div class="title">

          <ul class="page-breadcrumb link">
            <li ><a ><span  class="name icon fas fa-home"></span></a></li>
            <li ><span class="about"></span></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>
<!--loader end-->
